# Build directories
build/
bin/
VisualC/x64/
Debug/
Release/

# stuff I use as a reference lol
RSDKv2/ 

# IDE files
.vscode/
.vs/
*.suo
*.user
*.vcxproj.filters

# Compiled files
*.o
*.obj
*.exe
*.so
*.dylib

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake 